@using System.Globalization
@inherits ViewPage
<!DOCTYPE html>

<html>
    <head>
        <title>Here's the title</title>
    </head>
    <body>
        <div>
            <h2>Login:</h2>
            @Html.Partial("/Layouts/_Login")
        </div>
        <div class="pure-g">
            <div class="sidebar pure-u-1 pure-u-med-1-4">
                <div class="header">
                    
                    @RenderBody()

                </div>
            </div>
        </div>
    </body>
</html>

