@inherits ViewPage<WebApplication1.Todo.ViewTodoResponse>

@{
    ViewBag.Title = "title";
    Layout = "/Layouts/_Root";
}
<h2>This is a view page</h2>
<span>
    Text: @Res.Web_Index_Sidebar_Title
</span>